.DS_Store
.vs/
.vscode/
.code/

src/.vs/
src/.vscode/
src/.code/
src/[Dd]ebug/
src/[Dd]ebugPublic/
src/[Rr]elease/
src/[Rr]eleases/
src/x64/
src/x86/
src/build/
src/bld/
src/[Bb]in/
src/[Oo]bj/
src/[Oo]ut/
src/nuget.config

tests/.vs/
tests/.vscode/
tests/.code/
